@import url('https://fonts.googleapis.com/css?family=Amaranth&display=swap');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kulim+Park&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jockey+One&display=swap');

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.App {
    text-align: center;
}

.beranda {
    background: -webkit-linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
    background: linear-gradient(to right, #2980B9, #6DD5FA), #FFFFFF;
}

.beranda-grid {
    text-align: center;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: auto;
    /* background-color: #282c34; */
}

.beranda-grid-left {
    width: 30%;
    height: auto;
    /* background-color: #00ff00; */
    float: left;
    padding: 30px;
    position: relative;

}

.beranda-grid-right {
    width: 70%;
    height: auto;
    /* background-color: red; */
    float: left;
    padding: 30px;
    position: relative;
}

.bg-right-logo {
    width: 30%;
    float: left;
    margin-top: 15px;
    margin-bottom: 10px;
    /* background-color: #00ff00; */
}

.logo {
    width: 100px;
    margin: 0 auto;
    text-align: center;
}

.bg-right-content {
    width: 70%;
    float: left;
    margin-top: 15px;
    margin-bottom: 10px;
    /* background-color: violet; */
}

.badgeHome {
    background: -webkit-linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
    background: linear-gradient(to right, #2980B9, #6DD5FA), #FFFFFF;
    width: 70%;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-family: Amaranth, sans- serif;
    font-size: 25px;
    border-radius: 10px;
}

.navlink {
    color: green;
}

.hobi {
    margin: 60px 0 0 0;
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 25px;
}

.judulblog {
    margin: 0 30px 0 0;
    font-family: 'Kulim Park', sans-serif;
    font-size: 25px;
}

/* .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
} */

/* .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
} */

.App-link {
    color: #61dafb;
}

.porto-button-git {
    color: blue;
    font-family: 'Jockey One', sans-serif;
    font-size: 30px;
    padding: 0;
    background-color: aquamarine;
    border-radius: 5px;
}

.porto-button-demo {
    color: aquamarine;
    font-size: 30px;
    padding: 0;
    background-color: blue;
    font-family: 'Acme', sans-serif;
}

.buttonGithub {
    color: linen;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
}

.header-color {
    background: #61dafb;
    background: -webkit-linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
    background: linear-gradient(to right, #2980B9, #6DD5FA), #FFFFFF;
    color: #00ff00;
}

.projects-grid {
    display: flex;
}

.bannerText {
    background: -webkit-linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
    background: linear-gradient(to right, #2980B9, #6DD5FA), #FFFFFF;
    opacity: 0.8;
    width: 75%;
    height: auto;
    margin: auto;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.bannerText h1 {
    font-size: 66px;
    font-weight: bold;
    color: white;
}

.bannerText hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}

.bannerText p {
    color: white;
    font-size: 20px;
    padding: lem;
}

.socialLinks a i {
    color: white;
    font-size: 5em;
    margin: 40px 60px;
}

.kontak {
    width: 100%;
}

.content-list {
    margin: 0 0 20px 0;
}

.content-list i {
    float: left;
}

.content-list h5 {
    text-align: left;
}


.container-porto {
    height: auto;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: red;
    /* background: -webkit-linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
    background: linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF); */
}

.porto {
    background: -webkit-linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
    background: linear-gradient(to right, #2980B9, #6DD5FA), #FFFFFF;
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 10px;
}

.porto img {
    width: 60%;
    margin-top: 80px;
    margin-bottom: 30px;
}

.porto h2 {
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    color: #571B7E;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 800;
}

.porto-desc-container {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;

}


.porto-desc {
    background: -webkit-linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
    background: linear-gradient(to right, #2980B9, #6DD5FA), #FFFFFF;
    color: black;
    width: 100%;
    height: auto;
    text-align: left;
    font-size: 15px;
    padding: 5px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}

.porto-desc h5 {
    color: #282c34;
}

.porto-desc ul {
    float: left;
    margin-right: 15px;
}

.app-footer {
    text-align: center;
    /* background: #61dafb; */
    background: -webkit-linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
    background: linear-gradient(to right, #2980B9, #6DD5FA), #FFFFFF;
}

@media screen and (max-width:680px) {
    .beranda-grid-left {
        width: 100%;
        /* background-color: #00ff00; */
        float: left;
        padding: 30px;

    }

    .beranda-grid-right {
        width: 100%;
        /* background-color: red; */
        float: left;
        padding: 30px;

    }

    .bg-right-logo {
        width: 100%;
        /* background-color: #00ff00; */
        margin: 0 auto;
        text-align: center;


        margin-top: 15px;
        margin-bottom: 10px;
    }

    .bg-right-content {
        width: 100%;
        /* background-color: red; */
        margin: 0 auto;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .logo {
        width: 100px;
        margin: 0 auto;
        text-align: center;
        padding: 5px;
        margin-top: 10px;
    }

    .porto iframe {
        height: 200px;
        width: 80%;
    }

    .socialLinks {
        display: flex;
        justify-content: space-between;
        width: 50%;
        height: auto;
        margin: auto;
    }

    .socialLinks a i {
        color: white;
        font-size: 2em;
        margin: 20px 30px;
    }

    .bannerText h5 {
        font-size: 12px;
    }

    .foto-img-bg {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        margin: 90px 0 0;
    }

    .demo-big-content {
        height: 100%;
        width: auto;
        float: none;
        color: darkslategrey;
    }

    .header-color {
        height: 100%;
        width: 100%;
        float: none;
    }


    .bannerText {
        width: auto;
        height: 300px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .bannerText h1 {
        font-size: 40px;
    }

    .beranda-grid {
        margin: auto;
        width: 100%;
        height: auto;
        position: relative;
    }

    .porto-desc {
        font-size: 12px;
    }

    .porto-desc h5 {
        font-size: 10px;
    }

    .app-footer {
        text-align: center;
        background: #61dafb;
        background: -webkit-linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
        background: linear-gradient(to right, #2980B9, #6DD5FA), #FFFFFF;
    }
}