@import url( 'https://fonts.googleapis.com/css?family=Amaranth&display=swap');
@import url( 'https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC&display=swap');
@import url( 'https://fonts.googleapis.com/css?family=Sawarabi+Mincho&display=swap');
@import url( 'https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url( 'https://fonts.googleapis.com/css?family=Kulim+Park&display=swap');
@import url( 'https://fonts.googleapis.com/css?family=Jockey+One&display=swap');

.App {
    text-align: center;
}
.content-body {
    background: -webkit-linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
    background: linear-gradient(to right, #2980B9, #6DD5FA), #FFFFFF;

}
.kutipan {
    color: #0072ff;
    font-family: Amaranth, sans-serif;
    font-size: 25px;
}
.navlink {
    color: green;
}
.badgekutipan {
    background: -webkit-linear-gradient(to right, #56ab2f, #a8e063);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #56ab2f, #a8e063);
    padding: 10px;
    width: 80%;
    height: auto;
}
.contact {
    color: goldenrod;
}
.hobi {
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 25px;
}
.judul {
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.identity {
    font-family: 'Acme', sans-serif;
    font-size: 30px;
}
.judulblog {
    font-family: 'Kulim Park', sans-serif;
    font-size: 25px;
}
.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}
.logo {
    width: 70px;
    height: 70px;
    margin: 30px 15px;
}
.logo1 {
    width: 70px;
    height: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 15px;
}
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}
.buttonGame {
    color: aquamarine;
    font-family: 'Jockey One', sans-serif;
    font-size: 30px;
    padding: 0;
}
.buttonPlaystore {
    color: lawngreen;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
}
.buttonGithub {
    color: linen;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header-color {
    background: #61dafb;
    background: -webkit-linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
    background: linear-gradient(to right, #2980B9, #6DD5FA), #FFFFFF;

    color: #00ff00;
}

.beranda-grid {
    background: -webkit-linear-gradient(to right,#2980B9, #6DD5FA, #FFFFFF);
    background: linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
    text-align: center;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}
.projects-grid {
    display: flex;
}

.foto-img-bg {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.banner-text {
    background-image: linear-gradient( 111.4deg, rgba(122,192,233,1) 18.8%, rgba(4,161,255,1) 100.2% );
    opacity: 0.8;
    width: 75%;
    margin: auto;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.banner-text h1 {
    font-size: 66px;
    font-weight: bold;
    color: white;
}

.banner-text hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}
.banner-text p {
    color: white;
    font-size: 20px;
    padding: lem;
}
.social-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;

}
.social-links i {
    color: white;
    font-size: 5em;
    padding: 8px;

}
.fotohoby {
    width: 14px;
    height: 14px;
    margin-right: 5px;

}
.linknav {
    color: "#00ff00";
    font-style: "Bold";
    font-size: 12px;
}
.linknav h5 {
    float: left;
    color: #00ff00;
}
.logonav {
    width: 20px;
    height: 20px;
    float: right;
}
.kartu-nama {
    background: -webkit-linear-gradient(to right,#355C7D, #6C5B7B, #C06C84);
    background: linear-gradient(to right, #355C7D, #6C5B7B, #C06C84);

    margin: auto;
    text-align: center;
    margin-bottom: 70px;
    height: 100%;
    width: 75%;
}
.kartu-nama-i {

    background: -webkit-linear-gradient(to right,#355C7D, #6C5B7B, #C06C84);
    background: linear-gradient(to right, #355C7D, #6C5B7B, #C06C84);
    margin-bottom: 70px;
    height: 100%;
    font-size: 25px;
    margin-right: auto;
    margin-left: auto;
    color: chartreuse;
    text-align: center;

}
.kontak {
    width: 100%;
}

.karyaku {
    position: relative;
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
    background: -webkit-linear-gradient(to right,#2980B9, #6DD5FA, #FFFFFF);
    background: linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
}
.karya {
    background: -webkit-linear-gradient(to right,#076585, #FFF);
    background: linear-gradient(to right,#076585, #FFF);
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
}
.lisk {
    background: -webkit-linear-gradient(to right,#076585, #FFF);
    background: linear-gradient(to right,#076585, #FFF);
    color: black;
    width: 60%;
    height: 100%;
    margin: auto;
}
.lisk h5 {
    color: #282c34;
}

.karya img {
    width: 60%;
    margin-top: 80px;
    margin-bottom: 30px;
}
.karya h2 {
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    color: #571B7E;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 800;
}

.app-footer {

    text-align: center;
    background: #61dafb;
    background: -webkit-linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
    background: linear-gradient(to right, #2980B9, #6DD5FA), #FFFFFF;

}

.cv {
    background-color: #282c34;

}

.beranda-grid1 {
    background: -webkit-linear-gradient(to right,#2980B9, #6DD5FA, #FFFFFF);
    background: linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
    text-align: center;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}
@media screen and (max-width:680px) {
    .kartu-nama {
        height: 100%;
        width: 100%;
    }
    .badgekutipan {
        background: -webkit-linear-gradient(to right, #56ab2f, #a8e063);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #56ab2f, #a8e063);
        padding: 10px;
        width: 100%;
        margin: 0;
        height: auto;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .badgekutipan h4 {
        width: 100%;
        margin: 0;
        color: #0072ff;
        font-size: 10px;
    }
    .kartu-nama-i {
        height: 100%;
        width: 100%;
        margin: 0;
    }
    .social-links {
        display: flex;
        justify-content: space-between;
        width: 50%;
        height: auto;
        margin: auto;

    }
    .banner-text h5 {
        font-size: 12px;
    }

    .foto-img-bg {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        margin: 90px 0 0;
    }
    .demo-big-content {
        height: 100%;
        width: auto;
        float: none;
        color: darkslategrey;

    }
    .header-color {
        height: 100%;
        width: 100%;
        float: none;
    }
    .logo {
        width: 50px;
        height: 50px;
        margin: 0;
        padding: 5px;
        margin-top: 10px;
    }

    .banner-text {
        width: auto;
        height: 200px;
        padding: 10px;
        margin-bottom: 10px;
    }
    .banner-text h1 {
        font-size: 40px;
    }

    .beranda-grid {
        margin: auto;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .body {
        background: -webkit-linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
        background: linear-gradient(to right, #2980B9, #6DD5FA), #FFFFFF;

    }
    .lisk {
        font-size: 12px;
    }
    .lisk h5 {

        font-size: 10px;
    }
    .app-footer {
        text-align: center;
        background: #61dafb;
        background: -webkit-linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
        background: linear-gradient(to right, #2980B9, #6DD5FA), #FFFFFF;

    }

}
