
@import url('https://fonts.googleapis.com/css?family=Amaranth&display=swap');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kulim+Park&display=swap');


.App {
    text-align: center;
}
.kutipan {
    color: blueviolet;
    font-family: Amaranth, sans-serif;
    font-size: 25px;
}
.hobi{
    font-family: 'IM Fell French Canon SC', serif;
    font-size: 25px;
}
.judul{
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.identity{
    font-family: 'Acme', sans-serif;
    font-size: 30px;
}
.judulblog{
    font-family: 'Kulim Park', sans-serif;
    font-size: 25px;
}
.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}
.logo {
    width: 70px;
    height: 70px;
    margin: 30px 15px;
}
.logo1 {
    width: 70px;
    height: 70px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 15px;
}
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header-color {
    background: #61dafb;
    background: -webkit-linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
    background: linear-gradient(to right, #2980B9, #6DD5FA), #FFFFFF;
}

.beranda-grid {
    background: -webkit-linear-gradient(to right,#2980B9, #6DD5FA, #FFFFFF);
    background: linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
    text-align: center;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}
.projects-grid {
    display: flex;
}

.foto-img-bg {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.banner-text {
    background-image: linear-gradient( 111.4deg, rgba(122,192,233,1) 18.8%, rgba(4,161,255,1) 100.2% );
    opacity: 0.8;
    width: 75%;
    margin: auto;
    border-radius: 10px;
    margin-top: 120px;
    margin-bottom: 70px;
}
.banner-text h1 {
    font-size: 66px;
    font-weight: bold;
    color: white;
}
.judul-portofolio{
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    color:#571B7E;
    margin-top: 10px;
    margin-bottom: 10px;
}
.banner-text hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}
.banner-text p {
    color: white;
    font-size: 20px;
    padding: lem;
}
.social-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;

}
.social-links i {
    color: white;
    font-size: 5em;
    padding: 8px;

}
.fotohoby {
    width: 14px;
    height: 14px;
    margin-right: 5px;
}

.kartu-nama {
    background: -webkit-linear-gradient(to right,#355C7D, #6C5B7B, #C06C84);
    background: linear-gradient(to right, #355C7D, #6C5B7B, #C06C84);

    margin: auto;
    text-align: center;
    margin-bottom: 70px;
    height: 100%;
    width: 75%;
}
.kartu-nama-i {

    background: -webkit-linear-gradient(to right,#355C7D, #6C5B7B, #C06C84);
    background: linear-gradient(to right, #355C7D, #6C5B7B, #C06C84);
    margin-bottom: 70px;
    height: 100%;
    font-size: 25px;
    margin-right: auto;
    margin-left: auto;
    color: chartreuse;
    text-align: center;

}
.kontak {
    width: 100%;
}

.karyaku {
    position: relative;
    height: 100%;
    width: 100%;
    margin-bottom: 50px;
    background: -webkit-linear-gradient(to right,#2980B9, #6DD5FA, #FFFFFF);
    background: linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
}
.karya {
    background: -webkit-linear-gradient(to right,#076585, #FFF);
    background: linear-gradient(to right,#076585, #FFF);
    width: 80%;
    height:100%;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
}

.karya h2 {
    color: darkorange;
}

.karya1 {

    background: -webkit-linear-gradient(to right,#076585, #FFF);
    background: linear-gradient(to right,#076585, #FFF);
    width: 80%;
    height: 100%;
    margin: auto;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}


.karya1 img {
    width: 70%;
    height: 500px;
}

.karya1 a {
    text-decoration: none;
    background-color: crimson;
    color: white;
    padding: 8px;
    display: block;
    /*menjadikan elemen tipe blok*/
    width: 120px;
    text-align: center;
    border-radius: 8px;

}
.karya1 a:hover {
    background-color: black;
    transition-duration: 2s;
    transition-property: all;
    /*ms edge*/
    width: 150px;
    padding: 15px;
}

.app-footer {

    text-align: center;
    background: #61dafb;
    background: -webkit-linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
    background: linear-gradient(to right, #2980B9, #6DD5FA), #FFFFFF;

}

.cv {
    background-color: #282c34;

}

.beranda-grid1 {
    background: -webkit-linear-gradient(to right,#2980B9, #6DD5FA, #FFFFFF);
    background: linear-gradient(to right, #2980B9, #6DD5FA, #FFFFFF);
    text-align: center;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}
@media screen and (max-width:680px) {
    .kartu-nama {
        height: 100%;
        width: 100%;

    }
    .kartu-nama-i {
        height: 100%;
        width: 100%;
        margin: 0;

    }
    .foto-img-bg {
        border-radius: 50%;
        width: 250px;
        height: 250px;
        margin: 0;
    }
    .demo-big-content {
        height: 100%;
        width: auto;
        float: none;
        color: darkslategrey;

    }
    .header-color {
        height: 100%;
        width: 100%;
        float: none;
    }
    .logo {
        width: 50px;
        height: 50px;
        margin: 0;
        padding: 5px;
    }

    .banner-text {
        width: auto;
        padding: 10px;
    }

    .beranda-grid {
        margin: auto;
        position: relative;
        width: 100%;
    }
    .beranda-grid1 {
        margin: auto;
        width: 100%;
    }
}
